#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    align-items: center;
    display: flex;
    background-color: #846075;
    color: white;
    text-decoration: none;
    font-family: Monaco, Andale Mono;
    font-size: 1.5em;
    padding: 20px 20px;
    width: 100%;
}
nav a:hover {
    background-color: #A3BCF9;
    color: #14342B;
}
.logo {
    width: 90px;
}
footer {
    background-color: #846075;
    color: white;
    display: flex;
    padding: 20px 20px;
    font-size: 25px;
    font-family: Monaco, Andale Mono;
    justify-content: space-around;
    align-items: center;
}
.contactme {
    text-align: center;

}
.email {
    text-align: right;
    color: white;
}
.socialmedia {
    text-align: right;
}
.instagram {
    width: 80px;
}
.twitter {
    width: 80px;
}
#intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #A3BCF9;
    padding: 25px;
    color:#14342B;
}
.meimg {
    width: 300px;
    grid-column: 1/2;
    grid-row: 1/3;
}
.mesnow {
    width: 300px;
    grid-column: 6/7;
    grid-row: 4/6;
}
.me {
    font-family: Tahoma, Gill Sans;
    text-align: center;
    grid-column: 2/7;
    font-size: 25px;
    padding: 20px;
}
.artkind {
    font-family: Tahoma, Gill Sans;
    text-align: left;
    font-size: 25px;
    grid-column: 1/6;
    grid-row: 4/6;
    padding: 20px;
    padding-right: 30px;
}
.aboutme {
    font-family: Monaco, Andale Mono;
    text-align: center;
    grid-column: 3/5;
    font-size: 40px;
}
#commissions {
    background-color: #A3BCF9;
    color: #14342B;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 25px;
}
h2 {
    font-family: Monaco, Andale Mono;
    font-size: 35px;
    grid-column: 2/5;
    text-align: right;
}
.sketchhalf {
    width: 250px;
    padding: 15px;
    grid-column: 1/2;
    grid-row: 3/4;
}
.sketchfull {
    width: 250px;
    padding: 15px;
    grid-column: 1/2;
    grid-row: 4/5;
}
.colorhalf {
    width: 250px;
    padding: 15px;
    grid-column: 3/4;
    grid-row: 3/4;
}
.colorfull {
    width: 250px;
    padding: 15px;
    grid-column: 3/4;
    grid-row: 4/5;
}
.fullhalf {
    width: 250px;
    padding: 15px;
    grid-column: 5/6;
    grid-row: 3/4;
}
.fullfull {
    width: 250px;
    padding: 15px;
    grid-column: 5/6;
    grid-row: 4/5;
}
.sketch {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 25px;
    font-family: Monaco, Andale Mono;
    text-align: center;
}
.basecolor {
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 25px;
    font-family: Monaco, Andale Mono;
    text-align: center;
}
.full {
    grid-column: 5/6;
    grid-row: 2/3;
    font-size: 25px;
    font-family: Monaco, Andale Mono;
    text-align: center;

}
.sketchhalfprice {
    font-family: Tahoma, Gill Sans;
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 20px;
    text-align: left;
}
.sketchfullprice {
    font-family: Tahoma, Gill Sans;
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 20px;
    text-align: left;
}
.colorhalfprice {
    font-family: Tahoma, Gill Sans;
    grid-column: 4/5;
    grid-row: 3/4;
    font-size: 20px;
    text-align: left;
}
.colorfullprice {
    font-family: Tahoma, Gill Sans;
    grid-column: 4/5;
    grid-row: 4/5;
    font-size: 20px;
    text-align: left;

}
.fullhalfprice {
    font-family: Tahoma, Gill Sans;
    grid-column: 6/7;
    grid-row: 3/4;
    font-size: 20px;
    text-align: left;
}
.fullfullprice {
    font-family: Tahoma, Gill Sans;
    grid-column: 6/7;
    grid-row: 4/5;
    font-size: 20px;
    text-align: left;
}
.rules {
    grid-column: 1/2;
    grid-row: 5/6;
    font-size: 25px;
    font-family: Monaco, Andale Mono;
    text-align: left;
}
.myrules {
    grid-column: 1/7;
    grid-row: 6/7;
    font-size: 18px;
    font-family: Tahoma, Gill Sans;
    text-align: left;
}